* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat';
}

body {

}

main {
    margin: 0 10%;
    margin-bottom: 100px;
    font-family: 'Inter Tight';
}

header {
    width: 100%;
    height: 50px;
    padding: 0 5%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.projects {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-name {
    color: #fff;
    font-size: 14px;
    transition: 0.5s;
}

.project-name:hover {
    color: grey;
}

.title {
    width: 100%;
    font-size: 64px;
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-around;
}

.worker {
    display: block;
    text-align: end;

}

.video {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links {
    list-style: square;

}

.click {
    font-family: 'Inter Tight';
}


